<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6526.0" authCookieName=".SFAUTH-sitefinitytraining" rolesCookieName=".SFROLES-sitefinitytraining" validationKey="01F444CF10626B5A62FF2E22A1CE5C4775F62643C50C1997450E4FA9FB4FE055C9C479BAF5AD4B100B0661C1D02A5040AE64EB9C65DC5AFA2B86FF3966BD21CC" decryptionKey="C757C7721601ECFC8627284294583FF80EAD1254E43E8F4D3EFD831C72BA7550" loggingCookieName=".SFLOG-sitefinitytraining">
	<securityTokenIssuers>
		<add key="B2F0CE96D043A37C6B2F57EE5AFBD6116409DA87D8F4BBD5A61EE99E3A9E19B3" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B2F0CE96D043A37C6B2F57EE5AFBD6116409DA87D8F4BBD5A61EE99E3A9E19B3" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="8bd53a5b-8391-4230-9315-4c11957a1f7c" name="Everyone" config:flags="1" />
		<role id="5d4782ed-3650-4be8-b86d-db5d3d3e0eca" name="Anonymous" config:flags="1" />
		<role id="68536be9-9d7b-4856-9373-e20d585cc8b2" name="Authenticated" config:flags="1" />
		<role id="804be92f-c89a-4737-8264-abc6622e2045" name="Owner" config:flags="1" />
		<role id="97b97014-4ed6-4403-b6b9-e2a266e39705" name="Administrators" config:flags="1" />
		<role id="b02625bd-32ed-46e8-ac22-663cb263c021" name="BackendUsers" config:flags="1" />
		<role id="26384dad-789a-4473-b2d9-a55bd0f04873" name="Authors" config:flags="1" />
		<role id="8e30723e-8cf3-4116-bbfd-a69d60114531" name="Editors" config:flags="1" />
		<role id="b36b9f17-fa54-4a0d-aeba-44580f11893b" name="Designers" config:flags="1" />
		<role id="0dd58a3c-793b-46c1-819d-268a18577ab7" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>